<mat-toolbar color="primary">
  Sing upo flow with Firebase
  <button mat-button routerLink="login">
    Login
  </button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

