<div class="form-container" mat-elevation-z5>
    <h1>Login</h1>
    <form [formGroup]="loginForm">
        <mat-form-field>
            <input matInput placeholder="Email addres" formControlName="email" />
            <mat-error *ngIf="email?.errors?.['required']">
                Correo requerido
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
                Por favor ingrese un formato correcto
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" />
            <mat-error *ngIf="password?.errors?.['required']">
                Contrasena requerida
            </mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">
                Login
            </button>
        </div>
        <span class="center margin-top">
            Nuevo en la plataforma <a class="sign-up-link" routerLink="sign-up">Sign Up!</a>
        </span>
    </form>

</div>