/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container {
    display: block;
    max-width: 300px;
    margin: auto;
    color: rgb(255, 0, 0);

    background: rgba(170, 170, 170, 0.842);
    padding: 48px;
    border-radius: 16px;
}

.form-container mat-form-field{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.margin-top{
    margin-top: 16px;
}

.text-center{
    text-align: center;
}